@model FireGes.Models.Citacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Citacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCitacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCitacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoCitacionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTipoCitacionNavigation.DescripcionTipoCitacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCitacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
