@model FireGes.Models.MarcaVoluntario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MarcaVoluntario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoMarcaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTipoMarcaNavigation.DescripcionTipoMarca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdVoluntarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdVoluntarioNavigation.IdVoluntario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMarcaVoluntario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
