@model FireGes.Models.Funcionalidad

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Funcionalidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionFuncionalidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionFuncionalidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Controller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Metodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metodo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFuncionalidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
