@model IEnumerable<FireGes.Models.Cuerpo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DigitoVerificador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Denominacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreFantasia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DigitoVerificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denominacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFantasia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCuerpo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCuerpo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCuerpo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
