@model FireGes.Models.FuncionalidadPerfil

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FuncionalidadPerfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFuncionalidadNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdFuncionalidadNavigation.Controller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPerfilNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPerfilNavigation.DescripcionPerfil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFuncionalidadPerfil">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
