@model IEnumerable<FireGes.Models.FuncionalidadPerfil>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFuncionalidadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPerfilNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFuncionalidadNavigation.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPerfilNavigation.DescripcionPerfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFuncionalidadPerfil">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFuncionalidadPerfil">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFuncionalidadPerfil">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
