@model IEnumerable<FireGes.Models.DireccionVoluntario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdComunaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVoluntarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdComunaNavigation.NombreComuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVoluntarioNavigation.IdVoluntario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDireccionVoluntario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDireccionVoluntario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDireccionVoluntario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
